#titleContainer {
  background-color: cadetblue;
}

#title {
  text-align: center;
}

#subtitle {
  text-align: center;
}

.style18 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
